* { margin: 0; padding: 0; }
h1 { font-size: 18px; margin-bottom: 40px; }
body { font-size: 14px; line-height: 1.5em; font-family: Verdana,Helvetica,Arial,sans-serif; background-color: #ffffff; }
#twitter{ text-align: center }
